.navbar-container {
    position: relative;
    background-color: #ffffff;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 18px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: #3A86FF;
    color: rgb(255, 255, 255);
    padding: 18px 18px;
    overflow: hidden;
}