@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
}
body {
    background: linear-gradient(90deg, #91f4de ,#3A86FF, #5efff7);
}
.Login-container {
    border-radius: 48px;
    background: linear-gradient(145deg, #5190f4, #3074d3);
    box-shadow:  25px 25px 50px #0e3e75,
                 -25px -25px 50px #92c7ed;
    width: 400px;
    height: 400px;
    margin-top: 90px;
    padding: 15px;
}

.Login-head {
    padding: 25px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.email {
    margin: 10px;
    font-size: 20px;
    border-radius: 20px;
    height: 50px;
    width: 380px;
    color: white;
}

.email-field {
    margin-left: 19px;
    margin-top: 5px;
    width: 310px;
    height: 40px;
    border: none;
    border-bottom: 1px;
    font-size: 18px;
    border-radius: 12px;
}

input[type="email"]::-webkit-input-placeholder {
    -webkit-transition: opacity 0.1s linear;
    color: gray;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}

.password {
    margin-top: 30px;
    font-size: 20px;
    border-radius: 20px;
    height: 50px;
    width: 380px;
    color: white;
}

.password-field {
    margin-left: 29px;
    margin-top: 4px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.Signup-link {
    margin-top: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
button {
    letter-spacing: 0.1em;
    padding: 10px 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    font-size: 30px;
    background: #ffffff;
    border: none;
    color: #fff;
    margin-top: 30px;
  }
  
  button:hover {
    letter-spacing: 0.25em;
    background: #ffffff;
    color: #FCEFF9;
    -webkit-box-shadow: 0 0 45px #188bff;
            box-shadow: 0 0 45px #0b53b9;
  }
  
  button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #3A86FF;
  }
  
  button span {
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  
  button i {
    position: absolute;
    inset: 0;
    display: block;
    cursor: pointer;
  }
  
  button i::before {
    content: '';
    position: absolute;
    border: 2px solid #0943e2;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #ffffff;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  button:hover i::before {
    width: 20px;
    left: 20%;
    
  }
  
  button i::after {
    content: '';
    position: absolute;
    border: 2px solid #0fab46;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #ffffff;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  button:hover i::after {
    width: 20px;
    left: 80%;
  }