@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    
}
body {
    font-family: 'Sofia Sans', sans-serif;
}
.Signup-container {
    border-radius: 48px;
    background: linear-gradient(145deg, #5190f4, #3074d3);
    box-shadow:  25px 25px 50px #0e3e75,
                 -25px -25px 50px #92c7ed;
    width: 400px;
    height: 400px;
    margin-top: 90px;
    padding: 15px;
}

.Signup-head {
    padding: 15px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.email {
    font-size: 20px;
    height: 50px;
    width: 380px;
    color: white;
    margin-bottom: 20px;
}

.email-field {
    margin-left: 10px;
    margin-top: 5px;
    width: 310px;
    height: 40px;
    border: none;
    border-bottom: 1px;
    font-size: 18px;
    border-radius: 10px;
}

input[type="email"]::-webkit-input-placeholder {
    -webkit-transition: opacity 0.1s linear;
    color: gray;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}
.password {
    margin-top: 20px;
    font-size: 20px;
    height: 50px;
    width: 380px;
    color: white;
}

.password-field {
    margin-left: 10px;
    margin-top: 5px;
    width: 310px;
    height: 39px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.Login-link {
    margin-top: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}