@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel:wght@600&family=Marcellus&display=swap');

* {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
}

body {
    background: rgb(77, 21, 208);
    font-family: 'Sofia Sans', sans-serif;
}

.navbar {
    background-color: blueviolet;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}
li {
    list-style: none;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
