@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel:wght@600&family=Marcellus&display=swap');

* {
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    
}

body {
    background: rgb(72, 68, 149);
    background: linear-gradient(90deg, rgba(72, 68, 149, 1) 0%, rgba(83, 83, 226, 1) 25%, rgba(0, 212, 255, 1) 81%);
    font-family: 'Sofia Sans', sans-serif;
}

.Signup-container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(3, 0, 0);
    width: 400px;
    height: 400px;
    margin-top: 80px;
    padding: 15px;
    margin-bottom: 60px;
}

.Signup-head {
    padding: 20px;
    font-size: 15px;
    font-family: 'Cinzel', italic, serif;
}

.email {
    font-size: 20px;
    background-color: rgb(68, 62, 62);
    border-radius: 20px;
    height: 50px;
    width: 380px;
    color: white;
    margin-bottom: 35px;
}

.email-field {
    margin-left: 10px;
    margin-top: 5px;
    width: 310px;
    height: 40px;
    border: none;
    border-bottom: 1px;
    font-size: 18px;
    border-radius: 12px;
}

input[type="email"]::-webkit-input-placeholder {
    -webkit-transition: opacity 0.1s linear;
    color: gray;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}
.password {
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(92, 87, 87);
    border-radius: 20px;
    height: 50px;
    width: 380px;
    color: white;
}

.password-field {
    margin-left: 10px;
    margin-top: 5px;
    width: 310px;
    height: 39px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
}

.Submit-btn {
    margin-top: 20px;
    background-color: rgb(1, 58, 137);
    border-radius: 12px;
    box-shadow: 0 9px rgb(9, 10, 14);
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.Submit-btn-text {
    margin-top: 8px;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: none;
    font-family: 'Cinzel', serif;
    margin-left: 8px;

}

.Submit-btn:hover {
    box-shadow: black;
}

.Submit-btn:active {
    box-shadow: 0 5px rgb(52, 46, 46);
    transform: translateY(4px);
}

.Signup-link {
    margin-top: 35px;
}